@import "normalize"
@import "skeleton"
@import url('https://fonts.googleapis.com/css?family=Arizonia')

.spacer
    width: 100%
    height: 150vh

body
    background-color: #FAFAFA


nav
    position: fixed
    width: 100%
    z-index: 10
    transition: all .5s linear

    .brand
        height: 100px
        transition: all .3s linear

    .nav-container
        text-align: right

        .nav-item
            display: inline-block
            margin-left: 5px
            padding: 1rem 2rem
            list-style-type: none
            text-transform: uppercase

            a
                text-decoration: none
                color: #FAFAFA

            &:hover
                background: #FFF

                a
                    color: #000

.banner-box
    width: 100%
    height: 90vh
    position: relative
    overflow: hidden
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .9)), url("../img/banner-bw.jpg") 
        size: cover
        repeat: no-repeat
        attachment: fixed

    .page-title
        color: #FAFAFA
        width: 100%
        text-align: center
        position: absolute
        top: 20%

        h1
            font:
                family: 'Arizonia', cursive
                size: 6em
                weight: 700

        hr
            width: 30%

    .flag-video-container
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1

        .flag-video
            margin: auto
            min-width: 100%
            min-height: 100%
            width: auto
            height: auto
        
        .video-overlay
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background: rgba(0, 0, 0, .8)

.about
    margin-top: 100px
    background-color: green

    &:before
        content: " "
        transform: rotate(6deg)
        background-color: green

    &:after
        content: " "
        transform: rotate(-6deg)
        background-color: green