// Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– //
@import "normalize"
@import "skeleton"
@import "animate"
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700')
@import url('https://fonts.googleapis.com/css?family=Italianno')

// Vars
–––––––––––––––––––––––––––––––––––––––––––––––––– //
$flag-red: #CE1126
$flag-green: #006847

// Custom Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– //

@keyframes flag-btn
  0%
    background-color: $flag-green
    color: white
    border-color: $flag-green

  33.33%
    background-color: white
    color: #212121
    border-color: white

  66.66%
    background-color: $flag-red
    color: white
    border-color: $flag-red

  100%
    background-color: $flag-green
    color: white
    border-color: $flag-green

@-webkit-keyframes hue
	from
		-webkit-filter: hue-rotate(0deg)
	to
		-webkit-filter: hue-rotate(-360deg)

// Helper class
–––––––––––––––––––––––––––––––––––––––––––––––––– //

.stk
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .4)

.section-title
  margin-bottom: 70px
  padding: 2rem
  text-align: center
  font-weight: 300
  text-transform: uppercase
  color: #444

body
  font-family: 'Quicksand', sans-serif
  background-color: #FAFAFA
  color: #212121
  box-sizing: border-box

section
  padding: 100px 0 100px 0

.icon
  width: 100px
  height: 100px
  background: linear-gradient($flag-green, $flag-red)
  animation: hue 30s infinite linear

.active
  border-bottom: 3px solid #444


// Section: Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– //

.banner
  height: 90vh
  width: 100%
  background-color: #212121
  color: #FAFAFA
  background: linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .3)), url("../img/banner-bg.jpg")
      size: cover
      attachment: fixed
      repeat: no-repeat
      position: center
  overflow: hidden

  h1
    font-family: 'Italianno', cursive
  
  .cta-container
    text-align: center

  .page-title
    font:
      weight: 700
      size: 5em
    margin-top: 25%
    font-size: 8em
    text-shadow: 0 2px 8px rgba(255, 255, 255, .4)

  .btn-flag
    color: #FAFAFA
    transition: all .3s ease-in-out

    &:hover
      color: #212121
      background-color: #FAFAFA


// Navigation bar
–––––––––––––––––––––––––––––––––––––––––––––––––– //

.nav-bar
  transition: all .5s ease-in-out !important
  background: linear-gradient(90deg, $flag-red 30.0%, #FFFFFF 30.0%, #FFFFFF 69.0%, $flag-green 69.0%, $flag-green)

  .nav-wrap
    text-align: center
    padding-top: 1rem

    .nav-item
      display: inline-block
      margin: 1rem 0
      padding: 1rem 1.5rem
      transition: all .5s linear
      border-bottom: 0 solid #444

      a
        color: #212121
        text-decoration: none

// Section: Services
–––––––––––––––––––––––––––––––––––––––––––––––––– //

.section-services
  text-align: center

  .service
    margin-bottom: 60px
    transition: all .5s ease-in-out

    p
      text-align: justify

// Section: Media
–––––––––––––––––––––––––––––––––––––––––––––––––– //

.section-media
  background: linear-gradient(90deg, rgba($flag-red, .7) 30.0%, rgba(#FFFFFF, .7) 30.0%, rgba(#FFFFFF, .7) 69.0%, rgba($flag-green, .7) 69.0%, rgba($flag-green, .7))
    size: cover
    attachment: fixed
    repeat: no-repeat
    position: center center

  .video-container
    margin-top: 25px
    position: relative
    padding-bottom: 56.25%

    .video
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .video-description
    opacity: 0
    transition: all .5s ease-in-out
    transform: translate(0, -50%)

    .description-wrap
      text-align: center
      padding: 1rem

  .videos:hover .video-description
    opacity: 1
    background-color: #FAFAFA
    transform: translate(0, 0%)

// Section: Gallery
–––––––––––––––––––––––––––––––––––––––––––––––––– //
.gallery
  background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("../img/gallery/img-1.jpg")
    repeat: no-repeat
    position: center
    size: cover

  .gallery-view
    margin: 0 auto
    text-align: center

    img
      width: 100%

  .gallery-thumbs
    ul
      list-style: none
      text-align: center
      margin: 18px

      li
        display: inline-block

        img
          width: 96px
          margin: 0 10px
          padding: 1rem
          background: #FAFAFA



// Section: Band
–––––––––––––––––––––––––––––––––––––––––––––––––– //
.section-band
  .band-icon
    margin: 0 auto

// Section: Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– //
footer
  background: linear-gradient(90deg, rgba($flag-red, .4) 30.0%, rgba(#FFFFFF, .4) 30.0%, rgba(#FFFFFF, .4) 69.0%, rgba($flag-green, .4) 69.0%, rgba($flag-green, .4))

  ul
    list-style-type: none
    text-align: center

    li
      text-align: center
      margin-bottom: 2rem
      display: block

    a
      width: 100%
      text-decoration: none
      color: #666
      font-size: 1.8em
      padding: 1rem 2rem
      border-radius: 0.2em
      transition: all .3s ease-in-out

      &:hover
        color: #212121

  .clicnovo
    text-align: center

    h1
      font-size: 1em !important

// Custom Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– //

@media (max-width: 480px)

  .nav-item
    display: block !important

  .section-band
    text-align: center
