doctype html
html(lang="es")

	head
		meta(charset="utf-8")
		title Mariachi Azteca
		meta(name="description", content="Mariachi Azteca de Panama, con toda la tradicion de Mexico")
		meta(name="author", content="Alejandro H Tadino M")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.css')

	body

		

		header
			.banner
				.container
					.row
						.seven.columns
							.cta-container
								h1.page-title Mariachi Azteca de Panam&aacute
								p.page-lead La tradicion de Mexico en Panam&aacute
								a(href="#").button.btn-flag Contactos

		nav.nav-bar
			.container
				.row
					.twelve.columns
						.nav-wrap
							ul
								li.nav-item
									a(href="#servicios") servicios
								li.nav-item
									a(href="#media") videos
								li.nav-item
									a(href="#") integrantes
								li.nav-item
									a(href="#") contactos
		
		//- Content

		section.section-services#servicios
			.container
				h2.section-title Servicios

				.row

					.four.columns
						.service
							img(src="//placehold.it/150x150")
							h3.srvice-title Celebraciones
							p Amenizamos todo tipo de celebraciones: bodas, cumpleaños, bautizos, comuniones, día de la madre, del padre, serenatas de reconciliación, conquista, serenatas de despedida (o bienvenida) reuniones de empresas, lanzamientos de productos, aperturas de negocios, despedidas de soltero (a), celebración de divorcios y cualquier motivo que para usted sea de celebración.

					.four.columns
						.service
							img(src="//placehold.it/150x150")
							h3.srvice-title A domicilio
							p Nos trasladamos al lugar donde ud. indique dentro de Panamá, hoteles, restaurantes, domicilio, empresas. Nuestro profesionalismo y experiencia, garantizan un excelente trabajo, todo esto aunado a un grupo de músicos con vasta experiencia.

					.four.columns
						.service
							img(src="//placehold.it/150x150")
							h3.srvice-title Los mejores musicos
							p Es así queridos amigos que esta familia de músicos, se presenta de una manera particular hacia ustedes, exponiendo en esta página, todo aquello que podemos brindarle para realzar su compromiso. Esperamos sea de vuestro agrado todo lo visto en la misma y podamos pronto estar compartiendo una alegría común. Gracias por preferirnos.

		section.section-media#media
			.container
				h2.section-title Videos
				.row
					.twelve.columns
						.video-container
							iframe(src="//www.youtube.com/embed/V2ctpcnv8Es" frameborder="0" allowfullscreen).video

						.video-description
							.description-wrap
								h4 Si Nos Dejan
								p Mariachi Azteca de Panam&aacute, en el programa de Augusto, Canal 21 RCM - Panam&aacute
				.row
					.twelve.columns
						.video-container
							iframe(src="//www.youtube.com/embed/vi0r1NtL5y0" frameborder="0" allowfullscreen).video

						.video-description
							.description-wrap
								h4 Si Nos Dejan
								p Lenin Rios canta Si Nos Dejan en Vive la Musica

		section.section-band
			.container
				|Luis Enrique Espinosa: Director y Trompetista
				|Alejandro Castillo:	Trompeta
				|Angel Díaz:	Violin
				|Robert de León:	Bajo
				|Daniel Méndez:	Requinto y Voz
				|Jhonny Méndez:	Vihuela y Voz


		footer.section-footer
			.container
				.row
					.four.columns
						ul 
							li
								a(href="//www.facebook.com/Mariachi-Azteca-De-Panam%C3%A1-189562241392131/?fref=ts") Facebook
					.four.columns
						ul
							li
								a(href="mailto:mazt0505@gmail.com ") mazt0505@gmail.com 
					.four.columns
						ul
							li
								a(href="tel:+507-6677-5936") +507-6677-5936

		.spacer

		script(src="js/jquery.min.js")
		script(src="js/functions.js")