doctype html
html(lang="es")

	head
		meta(charset="utf-8")
		title Mariachi Azteca
		meta(name="description", content="Mariachi Azteca de Panama, con toda la tradicion de Mexico")
		meta(name="author", content="Alejandro H Tadino M")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.css')

	body

		//- Content –––––––––––––––––––––––––––––––––––––––––––––––––– //

		header
			.banner
				.container
					.row
						.twelve.columns
							.cta-container
								h1.page-title Mariachi Azteca de Panam&aacute
								p.page-lead La tradicion de Mexico en Panam&aacute
								.nav-item
									a(href="#contact").button.btn-flag Contactos

		//- Navbar –––––––––––––––––––––––––––––––––––––––––––––––––– //
		nav.nav-bar
			.container
				.row
					.twelve.columns
						.nav-wrap
							ul
								li.nav-item
									a(href="#service") servicios
								li.nav-item
									a(href="#media") videos
								li.nav-item
									a(href="#band") integrantes
								li.nav-item
									a(href="#contact") contactos

		//- Service –––––––––––––––––––––––––––––––––––––––––––––––––– //
		section.section-services#service
			.container
				h2.section-title servicios
							
				.row
					.four.columns
						.service
							img(src="img/trumpet.png").icon

						h3.srvice-title CELEBRACIONES
						p Amenizamos todo tipo de celebraciones: bodas, cumpleaños, bautizos, comuniones, día de la madre, del padre, serenatas de reconciliación, conquista, serenatas de despedida (o bienvenida) reuniones de empresas, lanzamientos de productos, aperturas de negocios, despedidas de soltero (a), celebración de divorcios y cualquier motivo que para usted sea de celebración.
	
					.four.columns
						.service
							img(src="img/note.png").icon

						h3.srvice-title SIEMPRE CON USTED
						p Nos trasladamos al lugar donde ud. indique dentro de Panamá, hoteles, restaurantes, domicilio, empresas. Nuestro profesionalismo y experiencia, garantizan un excelente trabajo, todo esto aunado a un grupo de músicos con vasta experiencia.
					
					.four.columns
						.service
							img(src="img/guitar.png").icon

						h3.srvice-title LOS MEJORES MUSICOS
						p Es así queridos amigos que esta familia de músicos, se presenta de una manera particular hacia ustedes, exponiendo en esta página, todo aquello que podemos brindarle para realzar su compromiso. Esperamos sea de vuestro agrado todo lo visto en la misma y podamos pronto estar compartiendo una alegría común. Gracias por preferirnos.


		//- Media –––––––––––––––––––––––––––––––––––––––––––––––––– //				
		section.section-media#media
			.container
				h2.section-title videos
				.row
					.six.columns.videos
						.video-container
							video(controls, preload="none", poster="video/thumb-video-1.jpg").video
								source(src="video/video-1.mp4" type="video/mp4")

						.video-description
							.description-wrap
								h4 Mariachi Azteca en Vivo
								p Mariachi Azteca de Panam&aacute; Interpretaci&oacute;n en vivo
				
					.six.columns.videos
						.video-container
							video(controls, preload="none", poster="video/thumb-video-2.jpg").video
								source(src="video/video-2.mp4" type="video/mp4")

						.video-description
							.description-wrap
								h4 Mariachi Azteca en Vivo
								p Mariachi Azteca de Panam&aacute; Interpretaci&oacute;n en vivo
		
		//- Band –––––––––––––––––––––––––––––––––––––––––––––––––– //
		section.section-band#band
			.container
				h2.section-title integrantes
				.row
					.four.columns
						img(src="img/trumpet-b.png").band-icon
						h4 Luis Enrique Espinosa
						p Trompeta
					.four.columns
						img(src="img/trumpet-b.png").band-icon
						h4 Alejandro Castillo
						p Trompeta
					.four.columns
						img(src="img/guitar-b.png").band-icon
						h4 Robert de León
						p Guitarron
						
				
				.row
					.four.columns
						img(src="img/violin.png").band-icon
						h4 Angel Díaz
						p Violin
					.four.columns
						img(src="img/vihuela.png").band-icon
						h4 Jos&eacute; Rivera
						p Vihuela
					.four.columns
						img(src="img/guitar-b.png").band-icon
						h4 Carlos Guitierrez
						p Guitarra

		//- Footer –––––––––––––––––––––––––––––––––––––––––––––––––– //
		footer.section-footer#contact
			.container
				h2.section-title contactos
				
				.row
					.twelve.columns
						ul
							li
								a(href="//www.facebook.com/Mariachi-Azteca-De-Panam%C3%A1-189562241392131/?fref=ts") Facebook

							li
								a(href="mailto:mazt0505@gmail.com ") mazt0505@gmail.com

							li
								a(href="tel:+507-6677-5936") +507-6677-5936

				.row
					.twelve.columns
						.clicnovo
							h1 Diseño por <a href="//clicnovo.com">Clicnovo</a>

		script(src="js/jquery.min.js")
		script(src="js/functions.js")