doctype html
html(lang="es")

	head
		meta(charset="utf-8")
		title Mariachi Azteca
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.css')

	body

		//- Header

		header.banner-box
			.parallax-header
				h1.page-title Mariachi Azteca
			
			.flag-video-container
				video.flag-video(playsinline, autoplay, muted, loop)
					source(src="video/flag.webm")

		//- Content

		section.cantent

			article

				.about
					.container

						h1 Quienes somos?
						hr

						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iure veniam officiis eum quidem enim ipsam ea perspiciatis nobis error totam reprehenderit consectetur odio consequuntur earum accusamus fuga, quo temporibus.

		.spacer

	script(src="js/jquery.min.js")
	script(src="js/functions.js")