doctype html
html(lang="es")

	head
		meta(charset="utf-8")
		title Mariachi Azteca
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.css')

	body

		//- Header

		nav
			.container
				.row
					.four.columns
						h1
							a(href="#")
								img.brand(src="//placehold.it/64x64")
					.eight.columns
						ul.nav-container
							li.nav-item
								a(href="#") link-1
							li.nav-item
								a(href="#") link-2
							li.nav-item
								a(href="#") link-3

		header.banner-box
			.parallax-header
				.page-title 
					h1 Mariachi Azteca
					hr
					p La tradicion de Mexico en Panama
			
			.flag-video-container
				video.flag-video(playsinline, autoplay, muted, loop)
					source(src="video/flag.webm")
				.video-overlay

		//- Content

		section.cantent

			article

				.about
					.container

						h1 Quienes somos?
						hr

						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iure veniam officiis eum quidem enim ipsam ea perspiciatis nobis error totam reprehenderit consectetur odio consequuntur earum accusamus fuga, quo temporibus.

		.spacer

	script(src="js/jquery.min.js")
	script(src="js/functions.js")